@charset "UTF-8";
/*这个的注释是会编译到css文件当中的*/
/*1.变量*/
a {
  color: #ff0000;
  height: 100px;
  font-size: 14px;
}
b {
  font-size: 14px;
  border: 1px solid #ff0000;
}
/*mixin 混入*/
/*/!*字体是14px延时是主体红红色的边框*!/
.font14{
  font-size: @mainFontSize;
}
.red{
  color: @mainColor;
}
.redBorder{
  border: 1px solid @mainColor;
}

/!* css类的混入 *!/
.font14RedRedBorder{
  .font14();
  .red();
  .redBorder();
}*/
/*方法的混入*/
/*方法的定义  注意的是 可以定义默认参数*/
/*方法混入*/
.font14RedRedBorder01 {
  color: #ff0000;
  font-size: 14px;
  border: 100px solid #ff0000;
}
/*嵌套*/
.zcw_app {
  color: #666;
  position: relative;
  z-index: 10000;
  display: block;
}
.zcw_app img {
  display: none;
}
.zcw_app:hover img {
  display: block;
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -60px;
  border: 1px solid #ff0000;
  border-top: none;
}
/*导入 import*/
.importCss {
  font-size: 18px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
}
/*内置函数*/
a {
  color: #a2a2a2;
  background: 50px;
}
